

.center_c{
	
	
	margin-right:15%;
	margin-left:15%; 

	
}

.center {
	
	width: 1000px;
	margin-right:25%;
	margin-left:25%; 

}

.center_form {
	

	margin-right:25%;
	margin-left:25%; 
	
	
}


.welcom_font {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 55px !important
}

.input {
	
	width:20%;
	padding: 15px 2px;
	margin : 15px;
	display: inline-block;
	border: none;
	border-bottom: 1px solid #ccc;

}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.button_id {
	background-color: white;
	color: black;
	border: 1px solid #4CAF50;
}

.button_id:hover {
	background-color: #4CAF50;
	color: white;
}



.input_s {
	
	height: 50px;
	width: 350px;
	padding: 5px;
}

.input_m {
	
	height: 50px;
	width: 500px;
	padding: 5px;
}

.input_l {

	width: 65%;
	padding: 5px;
}	

.green_text {
	
	width:250px;
	color: #fff !important;
	
}

.picture_size{
	width:100px;
	height:150px;
	
}


 @media screen and (max-width: 378px) {
	
	
	.welcom_font {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 35px !important
	}

		.center {
		text-align:center;
		width: 500px;
		height:100%;
		margin-left:auto; 
		margin-right:auto;
		margin-top: 30px;
		
	}
	
	
	.input_s {
		
		height: 50px;
		width: 200px;
		padding: 5px;
	}
	
	.input_m {
		
		height: 50px;
		width: 300px;
		padding: 5px;
	}

	.picture_size{
	width:130px;
	height:140px;
	

}
 


