@charset "UTF-8";

/* Header/Blog Title */
.header {
	/*  width:100%; */
	
}

#header_img {
	cursor: pointer;
	width: 100%;
	height: 200px;
	background-image:
		url("../../../resources/images/main/header/title4.png"),
		url("../../../resources/images/main/header/header_2.jpg");
	background-repeat: no-repeat;
	background-size: contain, cover;
	background-position: right, center;
}

#mypage {
	/* border: 2px solid #80ff00;    */
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.join_button {
	/* background-color: blue; */
	
}

/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: #333;
	width: 100%;
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 50px;
}

/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
	width: 25%;
}

/* Change color on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.betting {
	left: 25%;
}

.party {
	left: 50%;
}

.normal {
	left: 75%;
}

#login_button a>img, #join_button a>img, #logout a>img, #mypage a>img {
	filter: invert(100%);
}

.joonggo, .betting, .party, .normal {
	position: absolute;
	background-color: #333;
	transition: all 0.5s;
	z-index: 1;
}




.joonggo img, .betting img, .party img, .normal img {
	height: 0;
	/* //border:1px solid black; */ opacity : 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	transition: all 0.5s;
	opacity: 0;
}

.joonggo:hover img, .betting:hover img, .party:hover img, .normal:hover img
	{
	height: auto;
	opacity: 0.8;
}

@media screen and (max-width:800px) {
	.topnav a {
		font-size: 20px;
	}
}

@media screen and (max-width:600px) {
	.topnav a {
		font-size: 10px;
	}
}