@charset "UTF-8";
/* 모든 Element의 margin 제거 */
* {
	/* 메인 박스ㅇ를 만들시 브라우저마다 마진이 있는 브라우저가 있어서 마진을 제거함 */
	margin: 0px;
}

div#main_box {
	width: 1000px;
	height: auto;
	/* background-color: #cccccc; */
	margin: 0 auto;
	display: inline-block;
}

div#header {
	width: auto;
	height: 40px;
	background-color: #ff8080;
}
.p_image{
	display: inline-block;
	text-align: left;
	
	}
	
.content {
	min-height: 50%; /* 컨텐츠 최소 크기를 400px 만큼 늘린다. */
	width: auto;
	height: auto; /* auto로 하면 데이터를가 많아지면 content사이즈가 증가하면서 스크롤로이 생긴다. */
   /*  border : 1px solid black; */
	/*   background-color: #008080; */
}

p {
	width: 120px;
}

img {
	width: 150px;
	height: 150px;
	border: 1px solid gray;
	outline: 1px solid black;
}

ul {
	list-style: none;
	/* border : 1px solid blue; */
	float: left;
	margin: 13px;
	padding: 10px;
	height: auto;
	display: block;
}



ul#q > li{
	

display: inline-block;
	
}

/* open button 사이즈 */
.center {
	text-align: center;
	display: block;
	font-size: 20pt;
	font-weight: bold;
}

.footer {
	width: 100%;
	height: 20%;
	/* background-color: #0080ff; */
}

.page {
	clear:both;
border:1px solid yellow;
	text-align: center;
	width: 100%;
	height : 30%;
	display: block;
	margin: 0 auto;
	align: center;
}

/* page  */
ul#q {
	/* border: 1px solid black; */
	clear:both;
	width: 100%;
	margin: 0 auto;
	float:none;
	/* height : auto; */
	/* list-style : none; */
	/* /* border : 1px solid blue; */
	text-align: center;
	/* margin : 13px; */
	/* padding : 10px;요소 안에 공간 */
	display: block;

}
/* 페이지 css  */
.pagination>li>a, .pagination>li>span {
	border-radius: 50% !important;
	margin: 0 5px;
}
/* 대표이미지 css */

/* 검색 */