@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
body {
    font-family: 'Open Sans';
    background-color: #ffffff;
    margin-top: 30px;
}

input, .input-group-addon, button {
  border-radius: 0 !important;
}

@media screen and (min-width: 800px) {
    .reduceleftpadding {
        padding-left: 0px;
    }
}

.container {
   /*  padding-top: 25px;     */
    max-width: 1000px;
    position: relative;
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.input-group {
    margin-bottom: 10px;
}

.input-group-addon {
    max-width: 35px;
    text-align: center;
    background-color: white;
    color: lightgray;
}

.input-group input {
    border-left: 0;
    padding-left: 0px;
}

.input { 
    border-radius: 0;
}


img#image {
    max-width: 100%;
    width : 300px;
    height: 300px;
    border: 1px solid black;
}

.title
{
	font-size: 15pt;
}

/* view 내용 부분 */
.col-md-6{
	 width : 100%; 
	height : auto;
}

/* 아이콘  부분 */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.material-icons {
  /* margin-top: 1px;  */
  white-space: normal;
  color: #400040;
  letter-spacing: 10px;
  line-height: 10px;
}

/* 댓글 */
.comment_box
{
margin : 0 auto;
width : auto;
/* border : 1px solid red; */
text-align: center;

}

#comment_input_box
{
width : auto;
hight : auto;
}

table
{
	width: auto;
	/* border: 1px solid red; */
}
/*  판매완료 */
#s_container {
	width: 300px;
 	height: 300px;
    position: relative;
    text-align: center;
    color: black;
    
  
   /*  border: 1px solid black; */
/* 	outline: 1px solid black; */

	 
}

.center{
    position: absolute;
    top:0%;
	width: 300px;
 	height:300px;
    border:1px solid black; 
   /* display: inline-block; */

    /* background-color:black;  */ 
}

.mid{
width: 100%;
position:absolute;
top:40%;
opacity: 1;

}
.mid:after{
content: '판매완료';
 font-size : 30pt;
 font-weight: bold;
/*  border:1px solid black;  */

}
#button2
{
/* 	width : auto;
	display : inline-block;
	text-align: center;
	cursor:pointer; */
	border:1px solid black;
	background-color: #ffffff;
    color: black;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
	
}

#button1
{
/* 	width : auto;
	display : inline-block;
	text-align: center;
	cursor:pointer; */
	border:1px solid black;
	background-color: #ffffff;
    color: black;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
   border-radius: 4px;
	
}
.button
{
	border:1px solid black;
	background-color: #ffffff;
    color: black;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
   border-radius: 4px;	
}
.button1
{
	border:1px solid black;
	background-color: #ffffff;
    color: black;
    padding: 20px 15px;
    text-align : center;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
   border-radius: 4px;	
}

#bt
{
	
	
	width : 1000px;
	higth : 300px;
	text-align : right;
	  

}
/* 점선 */
hr.five
{
	border : none;
	border : 1px dashed #c0c0c0;
}
 
 tr
 {
 font-size: 20pt;
 }
